@{
    Layout = null;
    var column = ViewData["Column"] as Cactus.Model.CMS.Column;
}
<div class="tool-list">
    <label>编辑栏目</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary"><i class="fa fa-reply"></i>返回</a>
    </div>
</div>

<form class="pure-form  pure-form-aligned" id="columnUpdate">
    <input type="hidden" name="Column_Id" value="@column.Column_Id" />
    <input type="hidden" name="Lv" value="@column.Lv" />
    <input type="hidden" name="Pid" value="@column.Pid" />
        <div class="pure-control-group">
            <label>栏目名</label>
            <input name="ColumnName" type="text" value="@column.ColumnName" placeholder="栏目名" />
            <div class="pure-error pure-c-error msg-box" for="ColumnName"></div>
        </div>
        <div class="pure-control-group">
            <label>排序编号</label>
            <input name="Sort" type="text" value="@column.Sort" placeholder="排序编号,越小越前面" />
            <div class="pure-error pure-c-error msg-box" name="Sort"></div>
        </div>
        
        <div class="pure-controls">
            <button type="button" class="pure-button pure-button-primary" name="columnupdate">保存</button>
        </div>
</form>

<script type="text/javascript">
    $(function () {
        $('#columnUpdate').validator({
            msgWrapper: 'div',
            fields: {
                'ColumnName': 'required',
                'Sort': 'required;digits'
            },
            valid: function (form) {
                Admin.loadDialog_show();
                var param = $(form).serialize();
                $.ajax({
                    url: "/Admin/Blog/ColumnUpdate",
                    type: "post",
                    data: param,
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        layer.alert(obj.msg)
                        Admin.loadBackPage('main-content');
                    }
                });
            }
        });
    });
</script>

