@{
    Layout = null;
    var obj = ViewData["TempPage"] as Cactus.Model.CMS.TempPage;
}

<div class="tool-list">
    <div class="pure-button-group">
        @*<a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Blog/TemplateManage');" class="pure-button pure-button-primary pure-split">返回</a>*@
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary pure-split">返回</a>
        <a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Blog/Transfer?view=StaticHtmlHelper');" class="pure-button pure-button-primary pure-split">模板使用帮助</a>
    </div>
</div>
<form class="pure-form  pure-form-aligned" id="tempUpdate">
    <input type="hidden" name="TempPage_Id" value="@(obj.TempPage_Id)" />
    <fieldset>
        <legend>更改模板</legend>
        <div class="pure-control-group">
            <label>模板名</label>
            <input name="TempName" type="text" value="@obj.TempName" disabled />
        </div>
        <div class="pure-control-group">
            <label>模板别名</label>
            <input name="TempByname" type="text" value="@obj.TempByname" placeholder="模板别名" />
            <div class="pure-error pure-c-error" name="TempByname"></div>
        </div>
        <div class="pure-control-group">
            <label>模板参数</label>
            <textarea rows="5" name="TempParameter" placeholder="模板参数" style="width: 600px;">@(obj.TempParameter)</textarea>
            <div class="pure-error pure-c-error" name="TempParameter"></div>
        </div>
        <div class="pure-control-group">
            <label>模板内容</label>
            <textarea rows="20" name="TempContent" placeholder="模板内容" style="width: 600px;height: 450px;overflow: auto;" rows="2" cols="20">@(obj.TempContent)</textarea>
            <div class="pure-error pure-c-error" name="TempContent"></div>
        </div>

        <div class="pure-controls">
            <button type="button" class="pure-button pure-button-primary" name="tempupdate">更新</button>
        </div>
    </fieldset>
</form>


<script type="text/javascript">
    $(function () {
        $("#tempUpdate button[name=tempupdate]").bind('click', function () {
            var TempPage_Id = $("#tempUpdate input[name=TempPage_Id]").val();

            var TempByname = $("#tempUpdate input[name=TempByname]").val();
            if (TempByname == '' || TempByname == undefined) {
                $("#tempUpdate div[name=TempByname]").html('请填写模板别名'); return;
            } else {
                $("#tempUpdate div[name=TempByname]").html('');
            }
            var TempParameter = $("#tempUpdate textarea[name=TempParameter]").val();
            if (TempParameter == '' || TempParameter == undefined) {
                $('#tempUpdate div[name=TempParameter]').html('请填写模板参数'); return;
            } else {
                $('#tempUpdate div[name=TempParameter]').html('');
            }
            var TempContent = $("#tempUpdate textarea[name=TempContent]").val();
            if (TempContent == '' || TempContent == undefined) {
                $('#tempUpdate div[name=TempContent]').html('请填写模板内容'); return;
            } else {
                $('#tempUpdate div[name=TempContent]').html('');
            }
            $.ajax({
                url: "/Admin/Blog/TemplateUpdate",
                type: "post",
                data: { TempPage_Id: TempPage_Id, TempByname: TempByname, TempParameter: TempParameter, TempContent: TempContent },
                success: function (obj) {
                    if (obj.pass) {
                        Admin.loadBackPage('main-content');
                    } else {
                        layer.alert(obj.msg)
                    }
                }
            });
        })
    });
</script>




