@{
    var article = new Cactus.Model.CMS.Article();
    int? id = Convert.ToInt32(this.ViewContext.RouteData.Values["id"]);
    if (id.HasValue)
    {
        article = articleService.Find(id.Value);
        if (article == null)
        {
            throw new Exception("参数错误");
        }
    }
    ViewBag.Title = article.Title;
    ViewBag.SiteDescr = article.Title;
}

<form class="pure-form pure-search " action="@Url.Action("Search", "Blog")" method="get">
    <input type="text" placeholder="输入你的关键字">
    <button type="submit" class="pure-button pure-button-primary">搜索</button>
</form>
<div class="posts">

    <section class="post">
        <header class="post-header">
            @*<img class="post-avatar" alt="" height="48" width="48" src="/Content/Images/1111-avatar.jpg">*@

            <h2 class="post-title">@article.Title</h2>
            <p class="post-meta">
                由 <a href="javascript:;" class="post-author">@article.Author</a> 发表于 @article.CreateTime.ToString("yyyy-MM-dd HH:mm:ss"), 阅读(@article.Browse) 
                
                    @if (string.IsNullOrEmpty(article.Tags) == false)
                    {
                        string[] tag = article.Tags.Split(',');
                        for (int j = 0; j < tag.Length; j++)
                        {
                        <a class="post-category post-category-design" href="javascript:;">@tag[j]</a>
                        }
                    }
            </p>
        </header>

        <div class="post-description-detail">
            @Html.Raw(System.Web.HttpUtility.HtmlDecode(article.ArticleContent))
        </div>
    </section>
</div>
