@{
    int p = Convert.ToInt32(Request.QueryString["p"]);
    string k = Request.QueryString["k"].ToString();
    if (string.IsNullOrEmpty(k)) { k = ""; };
    int count = 0;
    if (p<=0) { p = 1; }
    Cactus.Model.Other.PageTurnModel pageturn = new Cactus.Model.Other.PageTurnModel() { ItemSize = 10 };
    pageturn.PageIndex = p;
    var list  = articleService.ToSearchList(pageturn.PageIndex.Value, pageturn.ItemSize, k, 1, out count);
    ViewBag.Title = "搜索";
}

<form class="pure-form pure-search" action="@Url.Action("Search", "Blog")" method="get">
    <input type="text" name="k" placeholder="输入你的关键字" value="@k" />
    <button type="submit" class="pure-button pure-button-primary">搜索</button>
</form>

<div class="posts" >

    <div id="section_list">
        @for (int i = 0; i < list.Count; i++)
        {
            <section class="post">
                <header class="post-header">
                    <img class="post-avatar" alt="@list[i].Author" height="48" width="48" src="/Content/Images/1111-avatar.jpg">

                    <a href="/Blog/Detail?id=@list[i].Article_Id"><h2 class="post-title">@list[i].Title</h2></a>

                    <p class="post-meta">
                        由 <a class="post-author" href="javascript:;">@list[i].Author
                        </a> 发表于 @list[i].LastTime.ToString("yyyy-MM-dd HH:mm:ss"), 阅读(@list[i].Browse) 

                    @if (string.IsNullOrEmpty(list[i].Tags)==false)
                    {
                        string[] tag = list[i].Tags.Split(',');
                        for (int j = 0; j < tag.Length; j++)
                        {
                        <a class="post-category" href="javascript:;">@tag[j]</a>
                        }
                    }
                    </p>
                </header>

                <div class="post-description">
                    @{
                    string temp = System.Web.HttpUtility.HtmlDecode(list[i].ArticleContent);
                    temp = Cactus.Common.StringHelper.FilterHTML(temp);
                    }
                    @Html.Raw(temp.Length > 50 ? temp.Substring(0, 50) : temp)
                </div>
            </section>
        }
    </div>

    <div class="pure-g pageArea">
        <div class="new-pagenav">
            <div class="new-pagenav-left"><a href="/Blog/Search?p=@(pageturn.PageIndex <= 1 ? 1 : pageturn.PageIndex - 1)&k=@k" class="pure-link" style="display: block;"><i class="fa fa-chevron-left fa-m-right"></i>上一页</a></div>
            <div class="new-pagenav-center">
                @pageturn.PageIndex/@(pageturn.PageCount)页
            </div>
            <div class="new-pagenav-right"><a href="/Blog/Search?p=@(pageturn.PageIndex >= pageturn.PageCount ? pageturn.PageCount : pageturn.PageIndex + 1)&k=@k" class="pure-link" style="display: block;">下一页<i class="fa fa-chevron-right fa-m-left"></i></a></div>
        </div>
    </div>
</div>
