@{
    Layout = null;

    var role = ViewData["Role"] as Cactus.Model.Sys.Role;
    var power = ViewData["_Power"] as Cactus.Model.Sys.PowerAdmin;
    string[] actions = role.ActionIds.Split(',');
}

<div class="tool-list">
    <label>修改角色</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary"><i class="fa fa-reply"></i>返回</a>
    </div>
</div>
<form class="pure-form  pure-form-aligned" id="roleUpd">
    <input type="hidden" name="Role_Id" value="@role.Role_Id" />
        <div class="pure-control-group">
            <label>角色名</label>
            <input  name="RoleName" type="text" value="@role.RoleName" placeholder="角色名" />
            <div class="pure-error pure-c-error" name="RoleName"></div>
        </div>

        <div class="pure-control-group">
            <label>功能列表</label>
            <div class="pure-controls">
                <div class="pure-tab">
                    <ul class="pure-tab-head">
                        @foreach (var group in power.list)
                        {
                            <text>
                                <li><a class="pure-tab-button " href="javascript:;">@group.Title</a></li>
                            </text>
                        }
                    </ul>
                    @foreach (var group in power.list)
                    {
                        <div class="pure-tab-content">
                            @if (group.module.Count > 0)
                            {
                                <table class="pure-table">
                                    <thead>
                                        <tr>
                                            <th>模块名</th>
                                            <th>模块调用名</th>
                                            <th>状态（用于导航菜单）</th>
                                            <th>权限分配</th>
                                            <th><input name="Allcheck" type="checkbox" title="全选" /></th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var item in group.module)
                                        {
                                            <tr>
                                                <td>@(item.Title)</td>
                                                <td>@item.Name</td>
                                                <td>@(item.IsShow ? "(显示)" : "(隐藏)")</td>
                                                <td>
                                                    @foreach (var action in item.Action_Type.Split(','))
                                                    {
                                                        <label style="width: initial;">
                                                            @(Cactus.Model.Other.EnumsModel.ActionType()[action])
                                                            @{
                                                                string action_str = group.Name + "|" + item.Name + "|" + action;
                                                            }
                                                            <input name="ActionType" type="checkbox" @(actions.Contains(action_str) ? "checked" : "") value="@(action_str)" />
                                                        </label>
                                                    }
                                                </td>
                                                <td><input name="checkAll" type="checkbox" /></td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            }
                        </div>
                    }
                </div>
            </div>
        </div>

            <div class="pure-controls">
                <button type="button" class="pure-button pure-button-primary" name="roleupd">修改</button>
            </div>
</form>

<script type="text/javascript">

    $(function () {
        Admin.tabInit(0);
        $('button[name=roleupd]').bind('click', function () {
            var Id = $("#roleUpd input[name=Role_Id]").val();
            var val = $("#roleUpd input[name=RoleName]").val();
            if (val == '' || val == undefined) { $('div[name=RoleName]').html('请填写角色名'); return; } else {
                $('div[name=RoleName]').html('');
            }
            var ids = "";
            $('input[name=ActionType]:checked').each(function () {
                if (ids.length > 0) {
                    ids += ',' + $(this).val();
                } else {
                    ids += $(this).val();
                }
            });
            console.log(ids);
            $.ajax({
                url: "/Admin/Sys/RoleUpdate",
                type: "post",
                data: { RoleName: val, ActionIds: ids, Id: Id },
                success: function (obj) {
                    if (obj.pass) {
                        Admin.loadBackPage('main-content');
                        //Admin.loadContent_Jq('main-content', '/Admin/Sys/RoleList');
                    } else {
                        layer.alert(obj.msg)
                    }
                }
            });
        });
        $('input[name=checkAll]').bind('click', function () {
            if ($(this).prop("checked") == true) {
                $(this).parent().parent().find("input[type='checkbox']").prop("checked", true);
            } else {
                $(this).parent().parent().find("input[type='checkbox']").prop("checked", false);
            }
        });
        $('input[name=Allcheck]').bind('click', function () {
            if ($(this).prop("checked") == true) {
                $(this).parent().parent().parent().parent().find("input[type='checkbox']").prop("checked", true);
            } else {
                $(this).parent().parent().parent().parent().find("input[type='checkbox']").prop("checked", false);
            }
        });
    })

</script>
