@{
    Layout = null;
    var pathConfig = ViewData["_PathConfig"] as Cactus.Model.Sys.Config.PathConfig;
}
<div class="tool-list">
    <label>文件上传路径</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Sys/PathAdd');" class="pure-button pure-button-primary">添加路径</a>
    </div>
</div>
<table width="100%" class="pure-table table-p" id="table_path">
    <thead>
        <tr>
            <th>名称</th>
            <th>服务器地址</th>
            <th>web地址</th>
            <th>详细说明</th>
            <th>上传大小</th>
            <th>操作</th>
        </tr>
    </thead>
    <tbody>
        @if (pathConfig!=null&&pathConfig.dic.Count > 0)
        {
            foreach (var i in pathConfig.dic)
            {

                <tr>
                    <td>@i.Key</td>
                    <td>@i.Value.DirPath</td>
                    <td>@i.Value.WebPath</td>
                    <td>@i.Value.Des</td>
                    <td>@i.Value.FileSize</td>
                    <td>
                        <a href="javascript:;" class="pure-link pure-link-default" name="upd" data-value="@i.Key">更新</a>
                        <a href="javascript:;" class="pure-link pure-link-default" name="del" data-value="@i.Key">删除</a>
                    </td>
                </tr>
            }
        }
        else { <tr><td colspan="6">暂无数据</td></tr>}
    </tbody>
</table>
<script type="text/javascript">
    function bindFunc() {
        $('#table_path a[name=upd]').bind('click', function () {
            var $target = $(this);
            var id = $target.attr('data-value');
            Admin.loadContent_Jq('main-content', '/Admin/Sys/PathUpdate?name=' + id);
        });
        $('#table_path a[name=del]').bind('click', function () {
            var $target = $(this);
            var id = $target.attr('data-value');
            layer.confirm('确定真的删除吗？', {
                btn: ['确定', '取消']
            }, function () {
                Admin.loadDialog_show();
                $.ajax({
                    url: "/Admin/Sys/PathDelete",
                    type: "post",
                    data: { name: id },
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        if (obj.pass) {
                            layer.alert(obj.msg);
                            $target.parent().parent().remove();
                        } else {
                            layer.alert(obj.msg);
                        }
                    }
                });
            }, function () { });
        });
    }
    $(function () {
        bindFunc();
    })
</script>