@{
    Layout = null;
    var role = ViewData["RoleList"] as List<Cactus.Model.Sys.Role>;
    var user = ViewData["User"] as Cactus.Model.Sys.User;
}
<div class="tool-list">
    <label>修改用户</label>
    <div class="pure-button-group">
        <a href="javascript:;" onclick="Admin.loadBackPage('main-content');" class="pure-button pure-button-primary"><i class="fa fa-reply"></i>返回</a>
    </div>
</div>

<form class="pure-form  pure-form-aligned" id="userUpd">
    <input type="hidden" value="@user.User_Id" name="User_Id" />
            <div class="pure-control-group">
                <label>用户账户</label>
                <input type="text"  value="@user.Name" placeholder="角色名" disabled="disabled" />
            </div>
            <div class="pure-control-group">
                <label>用户昵称</label>
                <input name="NickName" type="text" value="@user.NickName" placeholder="用户昵称" />
                <div class="pure-error pure-c-error msg-box" for="NickName"></div>
            </div>
            <div class="pure-control-group">
                <label>邮箱</label>
                <input name="Email" type="text" value="@user.Email" placeholder="邮箱" />
                <div class="pure-error pure-c-error msg-box" for="Email"></div>
            </div>
            <div class="pure-control-group">
                <label>电话</label>
                <input name="Phone" type="text" value="@user.Phone" placeholder="电话" />
                <div class="pure-error pure-c-error msg-box" for="Phone"></div>
            </div>
            <div class="pure-control-group">
                <label>QQ</label>
                <input name="Qq" type="text" value="@user.Qq" placeholder="QQ" />
                <div class="pure-error pure-c-error msg-box" for="Qq"></div>
            </div>
            <div class="pure-control-group">
                <label>角色</label>
                <select name="RoleId">
                    @foreach (var r in role)
                    {
                        <option value="@r.Role_Id" @(r.Role_Id == user.RoleId ? "selected" : "")>@r.RoleName</option>
                    }
                </select>
                <div class="pure-error pure-c-error msg-box" name="RoleId"></div>
            </div>
            <div class="pure-controls">
                <button type="submit" class="pure-button pure-button-primary" >保存</button>
            </div>
    </form>

<script type="text/javascript">
    $(function () {
        $('#userUpd').validator({
            msgWrapper: 'div',
            fields: {
                'User_Id': 'required',
                'UserName': 'required;length[2~16]',
                'NickName': 'required;length[2~16]',
                'Password': 'required;length[6~16]',
                'Email': 'required',
                'Phone': 'required',
                'Qq': 'required',
                'RoleId': 'required'
            },
            valid: function (form) {
                Admin.loadDialog_show();
                var param = $(form).serialize();
                $.ajax({
                    url: "/Admin/Sys/UserUpdate",
                    type: "post",
                    //data: { NickName: NickName, Email: Email, Phone: Phone, Qq: Qq, RoleId: RoleId, User_Id: User_Id },
                    date: param,
                    success: function (obj) {
                        Admin.loadDialog_hide();
                        layer.alert(obj.msg);
                    }
                });
            }
        });
    })
</script>