@using Cactus.Model;
@{
    var loginUser = ViewData["_LoginUser"] as Cactus.Model.Sys.User;
    var Power =ViewData["_Power"] as Cactus.Model.Sys.PowerAdmin;
    var site = ViewData["_SiteConfig"] as Cactus.Model.Sys.SiteConfig;
    var _dirhost = site.SiteStaticDir;
    var version = 2;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="@site.SiteDescr">
    <title>@site.SiteName-@ViewBag.Title</title>
    <link rel="shortcut icon" type="image/png" href="/favicon.png?_v=@version" />
    <link href="@(_dirhost)/Content/PureUI/pureplus.css?_v=@version" rel="stylesheet" />
    <link href="@(_dirhost)/Content/Admin/css/admin.css?_v=@version" rel="stylesheet" />
    <link href="@(_dirhost)/Content/wangEditor-2.0.1/css/wangEditor.min.css?_v=@version" rel="stylesheet" />
    <link href="@(_dirhost)/Content/Font-Awesome-4.5.0/css/font-awesome.css?_v=@version" rel="stylesheet" />
    <link href="@(_dirhost)/Content/lightcase/lightcase.css?_v=@version" rel="stylesheet" />
</head>
<body class="pure-family">
 <div id="layout" class="pure-g">
        <div class="left-layout">
            <div id="menu-tree">
                <!--begin-->
                <div class="pure-menu">
                    <span class="pure-menu-heading">
                        <div class="logo-img"></div>
                        <div class="logo-font">@site.SiteName-后台管理</div>
                    </span>
                <ul class="pure-menu-list">
                    @{var m_power =Power.list;}
                    @for (int i = 0; i < m_power.Count(); i++){
                            <li class="pure-menu-item">
                                @if (m_power[i].IsShow)
                                {
                                    var powerlist = m_power[i].module.Where(t => t.IsShow == true).ToList();
                                    if (powerlist.Count > 0)
                                    {
                                        if (loginUser.IsSuperUser)//是否超级管理员
                                        {
                                                <text>
                                                    <a href="javascript:;" class="pure-menu-link pure-menu-main">
                                                        <i class="fa @m_power[i].Icon"></i>
                                                        <span>@m_power[i].Title</span>
                                                        <span style=" float:right;"><i class="fa fa-chevron-right"></i></span>
                                                    </a>
                                                </text>
                                            var count = powerlist.Count();
                                            if (count > 0)
                                            {
                                                    <ul class="pure-menu-list pure-menu-child">
                                                        @for (int j = 0; j < powerlist.Count; j++)
                                                        {
                                                            <li class="pure-menu-item">
                                                                <a href="javascript:;" class="pure-menu-link" url-target="@(powerlist[j].ParamStr)">
                                                                    <span class=""><i class="fa @(powerlist[j].Icon)"></i> @(powerlist[j].Title)</span>
                                                                </a>
                                                            </li>
                                                        }
                                                    </ul>
                                            }
                                        }
                                        else
                                        {

                                            Cactus.Model.Sys.PowerGroup group = new Cactus.Model.Sys.PowerGroup();
                                            group.Icon = m_power[i].Icon;
                                            group.IsShow = m_power[i].IsShow;
                                            group.Name = m_power[i].Name;
                                            group.Title = m_power[i].Title;
                                            group.module=new List<Cactus.Model.Sys.PowerModule>();
                                            var user_actions = loginUser.Role.ActionIds.Split(',');
                                            foreach (var module in powerlist)
                                            {
                                                string[] actions = module.Action_Type.Split(',');
                                                string action_token = m_power[i].Name + "|" + module.Name + "|" + Cactus.Model.Other.EnumsModel.ActionEnum.Show.ToString();
                                                if (user_actions.Contains(action_token))
                                                {
                                                    group.module.Add(module);
                                                }
                                            }
                                            if (group.module.Count > 0)
                                            {
                                                    <text>
                                                        <a href="javascript:;" class="pure-menu-link pure-menu-main">
                                                            <i class="fa @(group.Icon)"></i>
                                                            <span>@(group.Title)</span>
                                                            <span style=" float:right;"><i class="fa fa-chevron-right"></i></span>
                                                        </a>

                                                        <ul class="pure-menu-list pure-menu-child">
                                                            @for (int j = 0; j < group.module.Count; j++)
                                                            {
                                                                <li class="pure-menu-item">
                                                                    <a href="javascript:;" class="pure-menu-link" url-target="@(group.module[j].ParamStr)">
                                                                        <span class=""><i class="fa @(group.module[j].Icon)"></i> @(group.module[j].Title)</span>
                                                                    </a>
                                                                </li>
                                                            }
                                                        </ul>
                                                    </text>
                                            }
                                        }
                                    }
                                }
                                </li>
                            }
                        </ul>
                </div>
                <!--end-->
            </div>
        </div>
        <div class="right-layout">
            <div id="nav">
                <!--begin-->
                    <div id="nav-tree" class="pure-menu pure-menu-horizontal pure-menu-fixed">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item">
                                <img src="@loginUser.Avatar" width="48px" height="48px" style="border-radius:24px;border:1px solid #fff;">
                            </li>
                            <li class="pure-menu-item pure-menu-disabled">登录用户：@(loginUser.NickName+"("+loginUser.Role.RoleName+")")</li>
                            <li class="pure-menu-item">
                                <a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Root/ZPanel');" class="pure-menu-link"><span><i class="fa fa-home"></i> 首页</span></a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="javascript:;" onclick="Admin.loadContent_Jq('main-content', '/Admin/Root/CenterUser');" class="pure-menu-link"><span><i class="fa fa-user"></i>个人中心</span></a>
                            </li>
                            <li class="pure-menu-item">
                                <a href="/" target="_blank" class="pure-menu-link"><span><i class="fa fa-home"></i>网站首页</span></a>
                            </li>
                            <li class="pure-menu-item"><a href="javascript:;" onclick="Logout();" class="pure-menu-link">退出</a></li>
                        </ul>
                    </div>
                <!--end-->
            </div>
            <div id="main-content">
                @RenderBody()
            </div>

            <div class="footer">
                <div class="pull-right">
                    <div class="pure-u-1" style="">@site.SiteCopyRight</div>
                </div>
            </div>
        </div>
    </div>
    @{
        var logFileCount = Convert.ToInt32(ViewData["logFileCount"]);
        var msgCount = logFileCount;
    }
    <div onclick="javascript:scroll(0,0);" class="pure-button comment-top" id="comment-top">
        <span class="comments">@(msgCount)</span>
        <i class="fa  fa-comments"></i>
    </div>
    <script src="@(_dirhost)/Content/Js/jquery-1.9.1.min.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/Js/jquery.tmpl.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/Js/utils.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/Js/jquery.upload2.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/Js/json2.js"></script>
    <script src="@(_dirhost)/Content/nice-validator/jquery.validator.js"></script>
    <script src="@(_dirhost)/Content/nice-validator/local/zh-CN.js"></script>
    <script src="@(_dirhost)/Content/Pure_Js/paginator.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/Admin/js/admin_public.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/wangEditor-2.0.1/js/wangEditor.min.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/lightcase/lightcase.js?_v=@version"></script>
    <script src="@(_dirhost)/Content/layer-v2.3/layer.js?_v=@version"></script>

    <script type="text/javascript">
    console.info('   _     _     _     _     \n'
+ ' /\' \\  /\' \\  /\' \\  /\' \\    \n'
+ '/\\_, \\/\\_, \\/\\_, \\/\\_, \\   \n'
+ '\\/_/\\ \\/_/\\ \\/_/\\ \\/_/\\ \\  \n'
+ '   \\ \\ \\ \\ \\ \\ \\ \\ \\ \\ \\ \\ \n'
+ '    \\ \\_\\ \\ \\_\\ \\ \\_\\ \\ \\_\\\n'
+ '     \\/_/  \\/_/  \\/_/  \\/_/\n');
    console.info('1111 荣誉出品 联系方式QQ:702295399  QQ群:110826636 ');
    </script>
    <script type="text/javascript">
        $(function () {
            $('#menu-tree .pure-menu-link[url-target]').bind('click', function () {
                var url = $(this).attr('url-target');
                Admin.loadContent_Jq('main-content', url);
            });
            $('#menu-tree .pure-menu-main').bind('click', function () {
                if ($(this).next().is(":hidden")) {
                    $(this).next().show();
                    $(this).find('.fa-chevron-right').removeClass('fa-chevron-right').addClass('fa-chevron-down');
                } else {
                    $(this).next().hide();
                    $(this).find('.fa-chevron-down').removeClass('fa-chevron-down').addClass('fa-chevron-right');
                }
            });
            var msgHtml = '<h4><a href="javascript:;" class="pure-menu-link" onclick="layer.closeAll();Admin.loadContent_Jq(\'main-content\', \'/Admin/Sys/LogManager\');">有日志<span style="color:red;"> @(logFileCount) </span>条</a></h4>';
            $('#comment-top').on('click', function () {
                layer.open({
                    type: 1,
                    area: ['600px', '360px'],
                    shadeClose: true, //点击遮罩关闭
                    content: '<div style="padding:10px;">' + msgHtml + '</div>',
                    btn: ['关闭'],
                    btn1: function () {
                        layer.closeAll();
                    }
                });
            });
        })
        function Logout() {
            layer.confirm('是否退出？', {
                btn: ['确定', '取消']
            }, function (index) {
                layer.close(index);
                window.location = "/Admin/Root/Logout";
            }, function () { });

        }
    </script>
</body>
</html>
