@{
    var OS = ViewData["OSString"] as string;
    var Version=ViewData["AssemblyVersion"] as string;
    long totalSize = new long();
    long freeSize = new long();
    System.IO.DriveInfo[] drives = System.IO.DriveInfo.GetDrives();
    foreach (System.IO.DriveInfo drive in drives)
    {
        if (drive.IsReady)
        {
            totalSize += drive.TotalSize / (1024 * 1024 * 1024);
            freeSize += drive.TotalFreeSpace / (1024 * 1024 * 1024);
        }
    }
}
<!--基本数据显示面板-->
<div class="pure-g">
    <div class="pure-panel pure-u-2-5" style="width:360px">
        <div class="pure-panel-title">系统时间</div>
        <div class="pure-panel-content">@DateTime.Now.ToString("yyyy-MM-dd HH:mm:ss")</div>
        <div class="pure-panel-title">运行时缓存总数</div>
        <div class="pure-panel-content">@HttpRuntime.Cache.Count 个</div>
        <div class="pure-panel-title">基目录</div>
        <div class="pure-panel-content">@AppDomain.CurrentDomain.BaseDirectory</div>
        <div class="pure-panel-title">Cactus版本类型</div>
        <div class="pure-panel-content">@OS</div>
        <div class="pure-panel-title">工作目录路径</div>
        <div class="pure-panel-content">@Environment.CurrentDirectory</div>
        <div class="pure-panel-title">服务器环境</div>
        <div class="pure-panel-content">@Request.ServerVariables["SERVER_SOFTWARE"]</div>
        <div class="pure-panel-title">服务器端口</div>
        <div class="pure-panel-content">@Request.ServerVariables["SERVER_PORT"]</div>
        <div class="pure-panel-title">服务器IP</div>
        <div class="pure-panel-content">@Request.ServerVariables["LOCAL_ADDR"]</div>
    </div>
    <div class="pure-panel pure-u-2-5" style="width:360px">
        <div class="pure-panel-title">是否64位系统</div>
        <div class="pure-panel-content">@(Environment.Is64BitOperatingSystem ? "是" : "否")</div>
        <div class="pure-panel-title">本机 NetBIOS 名称</div>
        <div class="pure-panel-content">@Environment.MachineName</div>
        <div class="pure-panel-title">平台标识符和版本号</div>
        <div class="pure-panel-content">@Environment.OSVersion</div>
        <div class="pure-panel-title">处理器数</div>
        <div class="pure-panel-content">@Environment.ProcessorCount 个</div>
        <div class="pure-panel-title">运行时版本</div>
        <div class="pure-panel-content">@Environment.Version</div>
        <div class="pure-panel-title">总磁盘空间</div>
        <div class="pure-panel-content">@totalSize GB</div>
        <div class="pure-panel-title">磁盘空闲空间</div>
        <div class="pure-panel-content">@freeSize GB</div>
        <div class="pure-panel-title">Cactus版本号</div>
        <div class="pure-panel-content">@Version</div>
    </div>
</div>

